
.no-padding
{
    width: 100%;
    height: 100%;
    background: #fff;
    margin: 0%;
}

.header
{
    width: 90%;
    height: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.6%;
    padding-left: 6.5%;
    padding-bottom: 1.2%;
}

.logo
{
    width: 120%;
    height: 85%;
}

.color-pink
{
    color: rgb(252, 1, 152);
}

.header__links
{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 42.5%;
}


.button
{
    font: 16px/1 'Montserrat';
    color: #FFFFFF;
    background: #05090C;
    border-radius: 4.59px;
    height: 55px;
    border: none;
    padding: 20px 43px;
    margin-right: 4.5%;
    margin-left: 1.5%
}

.link
{
    text-decoration: none;
    font: 16px/1.25 'Montserrat';
    color: black;
}

/*main-top*/
.main__top
{
    width: 88%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 9.4%;
}

.top__text
{
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-top: 12%;
}

.top__title
{
    width: 45%;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 100px;
    line-height: 122.35%;
    color: #000000;
}

.top__description
{
    width: 75%;
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7);
    margin-top: 22px;
}

.button_main
{
    margin-top: 6%;
    margin-left: 0;
}

.top__image
{
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ChillMan
{
    width: 89%;
    height: 90%;
    margin-top: 30px;
    margin-left: -110px;
}
/*main-top*/

/*main-line*/
.main__line
{
    width: 100%;
    height: 398px;
    background: #000000;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.line__inside
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 19%;
    margin-right: 19%;
    margin-top: -2.5%;
}

.line__inside__block
{
    width: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-right: 1%;
}

.inside__line__text
{
    margin-top: 6%;
    font: 22px/1.2 'Roboto Condensed';
    text-align: center;
    color: #FFFFFF;
}
/*main-line*/

/*main-middle*/
.main__middle
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 4.3%;
}

.middle__normal
{
    margin-top: 2.5%;
    height: 520px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.normal__img
{
    display: flex;
    justify-content: center;
    width: 50%;
    height: 90%;
    margin-right: -8%;
    margin-left: 8%;

}

.normal__text
{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 135px;
}

.middle__text__title
{
    font: 48px/1.25 'Montserrat';
}

.middle__text__description
{
    font: 18px/1.35 'Roboto Condensed';
    color: rgba(0, 0, 0, 0.7);
    width: 70%;
    height: 48px;
    margin-top: -0.5%;
}

.middle__reverse
{
    width: 100%;
    height: 691px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.reverse__text
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    height: 100%;
    margin-top: 2.5%;
    margin-left: 0;
}

.reverse__img
{
    margin-top: 2.5%;
    margin-left: -4%;
    margin-right: 15%;
}
/*main-middle*/

/*main-bottom*/
.main__bottom 
{
    height: 564px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15%
}

.bottom__title
{
    font: 48px/1 'Montserrat';
    color: #000000;
    margin-bottom: 2%;
}

.all-squares
{
    max-width: 60%;
    height: 445px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.square
{
    width: 30%;
    height: 158px;
    background: #000000;
    border-radius: 7.35723px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 14px 0px 0px 14px;
    margin-bottom: 3%;
}

.square__text 
{
    font: 18px/1 'Roboto Condensed';
    font-weight: 400;
    color: #FFFFFF;
    margin-top: 21px;
    width: 79%;
}

.bottom__form
{
    display: flex;
    flex-direction: column;

}

.form__illustration
{
    margin-bottom: 2%;
}
.form__title
{
    font: 26px/1.2 'Montserrat';
}
/*main-bottom*/

/*footer*/
.footer-line
{
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 108px;
    width: 100%;
    background: #000000;
}

@media screen and (min-width: 320px) and (max-width: 768px) 
{
    .header
    {
        width: 100%;
        height: 120%;
        padding: 0px;
        flex-direction: column;
    }

    .header__links
    {
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
    }

    .button
    {
        margin-top: 5px;
    }

    .button_short
    {
        padding: 15px 25px;
    }

    .link
    {
        font-size: 23px;
        margin-top: 3%;
    }

    .main__top
    {
        width: 100%;
        flex-direction: column;
        margin: 0%;
        align-items: center;
    }

    .top__text
    {   
        width: 100%;
        align-items: center;
        margin-top: 2%;
    }

    .top__description
    {
        width: 80%;
        font-size: 25px;
        text-align: center;
    }

    .top__title
    {
        text-align: center;
        font-size: 50px;
        width: 100%;
    }

    .button__long
    {
        width: 50%;
        margin-top: 5px;
    }

    .button__long
    {
        padding: 14px 10px;
    }

        .main__line
    {
        width: 100%;
        height: 100%;
    }

    .line__inside
    {
        margin-top: 5%;
        flex-direction: column;
    }

    .line__inside__block
    {
        width: 70%;
        margin-top: 5%;
        margin-bottom: 3%;
    }

        .button
    {
        font-size: 14px;
    }
}

@media screen and (min-width: 320px) and (max-width: 1023px) 
{
    .main__middle
    {
        flex-direction: column;
        justify-content: space-between;
    }

    .middle__normal
    {
        flex-direction: column;
        height: 50%;
    }

    .middle__reverse
    {
        margin-top: 5%;
        flex-direction: column-reverse;
        height: 50%;
    }

    .normal__text
    {
        height: 50%;
    }

    .middle__text__description
    {
        height: 10%;
    }

    .bottom__title
    {
        text-align: center;
    }

    .all-squares
    {
        max-width: 80%;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
    }

    .square
    {
        width: 70%;
        height: 10%;
        padding-top: 2%;
        padding-bottom: 2%;
        flex-wrap: wrap;
        margin-top: 5%;
        align-items: center;
    }

    .main__bottom
    {
        margin-top: 20%;
        height: 100%;
    }

    .square__text
    {
        text-align: center;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) 
{
    .header
    {
        width: 100%;
        height: 120%;
        padding: 0px;
    }

    .header__links
    {
        width: 100%;
        justify-content: space-around;
    }

    .button
    {
        font-size: 10px;
    }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) 
{
    .square__text
    {
        font-size: 14px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1366px)
{
    .header__links
    {
        width: 75%;
        margin-left: 20%
    }

    .link
    {
        margin-right: 1%;
    }

    .top__title
    {
        width: 100%;
        text-align: center;
        white-space: normal;
    }


    .top_description
    {
        text-align: center;
    }

    .top__text
    {
        width: 100%;
        align-items: center;
    }

    .normal__img
    {
        margin-left: 0;
        margin-right: 2%;
    }

    .main__top
    {
        width: 100%;
        flex-direction: column;
        margin: 0%;
        align-items: center;
    }

    .ChillMan
    {
        width: 40%;
    }

    .button__long
    {
        width: 25%;
    }

        .reverse__text
    {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        width: 50%;
        height: 100%;
        margin-top: 2.5%;
        margin-left: 0;
    }

    .reverse__img
    {
        margin-top: 2.5%;
        margin-left: -4%;
        margin-right: 0;
    }
} 

@media screen and (min-width: 1654px)
{
    .top__title
    {
        white-space: nowrap;
    }
}