.header
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 33px;
    margin-left: 122px;
    margin-right: 100px;
}

.logo
{
    margin-right: 608px;
    margin-top: -4px;
}

.none-padding
{
    padding: 0;
    margin: 0 0 0 0;
}

.chillman
{
    width: auto;
    height: auto;
    margin-top: 70px;
    margin-right: 190px;
}

.button
{
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1;
    color: white;
    background-color: black;
    border-radius: 6px;
    width: 250px;
    height: 55px;
    margin-left: 10px;
    border: 0;
    margin-top: -2px;
}

.span
{
    color: #EE58B6;
}

.main-part
{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-left: 175px;
    margin-bottom: 67px;
}

.main-text
{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    width: auto;
    margin-top: 40px
}

.title
{
    font-family: 'Montserrat';
    font-size: 100px;
    line-height: 122.35%;
    margin-bottom: 0px;
    margin-top: 180px;
    padding: 0;
}

.button-main
{
    width: 335px;
    margin-top: 0px;
    margin-bottom: 180px;
    margin-left: 2px;
}

.description
{
    font-family: 'Roboto Condensed';
    font-size: 26px;
    width: 545px;
    line-height: 120%;
    color: rgba(0, 0, 0, 0.7);
    height: 62px;
    margin-top: 0px;
    margin-left: 3px;
}

.link
{
    text-decoration: none;
    font-family: 'Montserrat';
    font-size: 16px;
    line-height: 1.25;
    color: black;
}

.footer
{
    display: flex;
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
}

.footer-line
{
    background-color: black;
    display: flex;
    flex-direction: row;
    height: 398px;
    justify-content: center;
    align-items: center;
    padding: 0 0 0 0;
}

.inside-line
{
    flex-direction: column;
}

.line-text
{
    font-family: 'Roboto Condensed';
    font-weight: 400;
    font-size: 22px;
    line-height: 120%;
    color: white;
    width: 337px;
    height: 52px;
    margin-left: 86px;
    text-align: center;
}

.finanses
{
    width: auto;
    height: auto;
    margin-right: 0;
}

.normal
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 70px;
    margin-left: 85px;
}

.reverse
{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
}

.small-image
{
    margin: 0px 218.5px;
    width: 60px;
    height: 60px;
}

.illustration-description
{
    align-self: center;
    margin-left: -40px;
    margin-top: 62.5px;
}

.illustration-title
{
    font-family: 'Montserrat';
    font-weight: 500px;
    font-size: 48px;
    line-height: 122.06%;
    margin-bottom: 28px;
    margin-left: 90px;
}

.illustration-text
{
    font-family: 'Roboto Condensed';
    font-weight: 400px;
    font-size: 18px;
    line-height: 135%;
    width: 574px;
    height: 48px;
    margin: 0 90px;
}


.illustration-description-second
{
    align-self: center;
    margin-left: -70px;
    margin-top: 15px;
    margin-right: 20px;
}

.illustration-title-second
{
    font-family: 'Montserrat';
    font-weight: 500px;
    font-size: 48px;
    line-height: 122.06%;
    margin-bottom: 28px;
    margin-left: 90px;
}

.illustration-text-second
{
    font-family: 'Roboto Condensed';
    font-weight: 400px;
    font-size: 18px;
    line-height: 135%;
    width: 574px;
    height: 48px;
    margin: 0 90px;
}

.mind-blowing
{
    Width: auto;
    Height: auto;
    margin-top: 45px;
    margin-left: -52px;
}

.presentation
{
    width: 553px;
    height: 59px;
    /*font: 500 48px 59px 'Montserrat';*/
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
    align-self: center;
}

.fingers
{
    height: 48px;
    margin-left: 40px;
    margin-top: 0px;
}

.square
{
    background-color: black;
    border-radius: 7.35723px;
    width: 358px;
    height: 190px;
    margin: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.square-text
{
    font-family: 'Roboto Condensed';
    font-size: 18px;
    line-height: 21px;
    color: white;
    margin-left: 40px;
    margin-right: 30px;
}

.ending-line
{
    background-color: black;
    height: 108px;
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 270px;
    padding: 0px;
}

.ending-logo
{
    align-self: center;
    justify-self: center;
    
}

.all-squares
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.three-square
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.boxes
{
    display: flex;
    flex-direction: column;
    margin-top: 50px;
    margin-left: 15px;
}