@font-face
{
    font-family: headerFont;
    src: url("../fonts/Montserrat-Light.ttf");
}

@font-face
{
    font-family: mainFont;
    src: url("../fonts/RobotoCondensed-Light.ttf");
}

html 
{
    scroll-behavior: smooth;
}

body
{
    margin: 0;
}

.text 
{
    color: black;
    text-decoration: none;
    font-family: mainFont; 
    line-height: 1.2;
}

.title 
{
    font-family: headerFont;
}

.marked-text
{
    color: rgb(238, 88, 182);
}

/*==================================================
-------------------- header ------------------------
====================================================*/

.header
{
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
}

.header__ref-container
{
    display: grid;
    column-gap: 20px;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, auto);
}

.header__nav-ref
{
    padding: 15px;
    color: black;   
    font-weight: 500;
    text-align: center;
    text-decoration: none;
}

.course-button  
{
    border: none;
    padding: 15px;
    color: white; 
    border-radius: 4px;
    text-decoration: none;
    background-color: black;
}

@media screen and (max-width: 450px)
{
    .header
    {
        margin: 20px 0;
    }

    .header__nav-ref
    {
        text-align: start;
    }

    .header__ref-container
    {
        margin-left: 10%;
        width: fit-content;
        align-self: flex-start;
        grid-template-columns: repeat(1, auto);
    }
}

@media screen and (max-width: 800px) 
{
    .header
    {
        width: 100%;
        flex-direction: column;
    }

    .header__ref-container
    {
        margin: 0 3%;
    }
}    

/*==================================================
-------------------- top -------------------------
====================================================*/

.top 
{
    width: 80%;
    margin: 40px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top__header
{
    font-size: 5vmin;
    max-width: 500px
}

.top__text
{
    margin-bottom: 65px;
}

.top__img
{
    width: 40%;
} 

@media screen and (max-width: 800px)
{
    .top 
    {
        margin-bottom: 70px;
        align-items: center;
        flex-direction: column-reverse;
    }

    .top__header
    {
        font-size: 40px;
        text-align: center;
    }

    .top__img
    {
        width: 100%;
    }

    .top__text
    {
        margin-bottom: 40px;
    }
}

/*==================================================
---------------- marked-line ---------------------
====================================================*/

.marked-line
{
    padding: 50px 20%;
    display: flex;
    background-color: black;
    justify-content: space-between;
}

.marked-line__item 
{
    width: 30%;
    height: 150px;
    padding: 30px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.marked-line__item-img 
{
    width: 60px;
    margin-bottom: 20px;
}

.marked-line__item-text
{
    margin: 0;
    width: 100%;
    color: white;
    text-align: center;
}

@media screen and (max-width: 800px)
{
    .marked-line
    {
        align-items: flex-start;
        flex-direction: column;
    }

    .marked-line__item
    {
        width: 100%;
    }
}

/*==================================================
------------------- block ------------------------
====================================================*/

.block
{
    width: 70%;
    margin: 0 auto 40px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.block__img
{
    max-height: 500px;
    max-width: 400px;
}

.block__header
{
    font-size: 48px;
}

.block__text 
{
    max-width: 400px;
}

@media screen and (max-width: 800px)
{
    .block
    {
        flex-direction: column;
    }

    .block__img
    {
        width: 100vw;
    }

    .block__header
    {
        font-size: 30px;
        text-align: center;
    }

    .block section
    {
        margin: 0 auto;
    }
}

/*==================================================
------------------- abilities --------------------
====================================================*/

.abilities
{
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.abilities__container
{
    gap: 20px;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: repeat(3, 1fr);
}

.abilities__item
{
    padding: 30px;
    border-radius: 8px;
    background-color: black;
}

.abilities__item-text
{
    color: white;
}

@media screen and (max-width: 800px)
{
    .abilities__container
    {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 450px)
{
    .abilities__container
    {
        grid-template-columns: 1fr;
    }
}

/*==================================================
-------------------- footer ------------------------
====================================================*/

.footer
{
    padding: 25px 0;
    margin-top: 200px;
    background-color: black;
}

.footer__logo
{
    text-align: center;
    margin: 0;
    color: white;
}

@media screen and (max-width: 800px)
{
    .footer
    {
        margin-top: 50px;
    }
}

/*==================================================
-------------------- enroll ------------------------
====================================================*/

.get-web-interface
{
    margin: 30px;
}

.get-web-interface__input
{
    width: 300px;
    padding: 15px;
    margin: 10px 50px 10px 0;
    border-radius: 4px;    
    border: 1.4px solid #C0C0C0;
}

.get-web-interface__subscribe
{
    border: none;
    width: 300px;
    padding: 15px;
    color: white; 
    border-radius: 4px;
    background-color: black;
}


/*=======================================================
---------------Тут стили для формы-----------------------
=========================================================*/
.questionnaire
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.questionnaire__welcome
{
    margin-left: 50px;
    display: flex;
    flex-direction: column;
}

.questionnaire__title
{
    font: 26px/1.2 'Montserrat';
    margin-left: 80px;
}
.form
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form__option
{
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1.35px solid #C0C0C0;
    border-radius: 4px;
    width: 100%;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 15px;
    margin-bottom: 20px;
}

.form__select
{
    width: 480px;
    height: 64px;
    background: #FFFFFF;
    border: 1.35px solid #C0C0C0;
    box-shadow: 0px 2.7px 10.8px rgba(66, 72, 78, 0.16);
    border-radius: 10.8px;
}
.select__option
{
    width: 480px;
    height: 64px;
    background: #FFFFFF;
    border: 1.34888px solid #C0C0C0;
    box-shadow: 0px 2.7px 10.8px rgba(66, 72, 78, 0.16);
    border-radius: 10.8px;
    Padding: 22px, 27px, 22px, 28px;
    display: flex;
    flex-direction: row;
    align-items: center; 
}

.checkbox
{
    border: 1.35px solid #C0C0C0;
    border-radius: 4px;
    Width: 22px;
    Height: 22px;
    margin-left: -20px;
    margin-top: 10px;
}

.checkbox__label
{
    font: 16px/1.4 "Roboto Condensed";
    color: rgba(0, 0, 0, 0.7);
}

.form__button
{
    Padding: 22px, 40px, 22px, 40px;
    width: 480px;
    height: 64px;
    background: #000000;
    border-radius: 5.4px;
    margin-top: 30px;
    font: 18px/1.4 "Montserrat";
}

.popup__escape
{
    margin: 0 auto;
    position: relative;
    right: 5%;
    top: 15%;
    left: 55%;  
}

.form__option:focus
{
    border-color: #EE58B6;
    border-width: 3px;
    outline: none;
}

/*=============Тут они вроде закончились============*/

/*=============Тут приколы для попапа===============*/

.popup__back
{
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0; 
    pointer-events: none;
    transition: all 0.5s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
}

.popup
{
    position: absolute; 
    background: #ffffff; 
    width: 600px; 
    left: 50%; 
    top: 50%; 
    transform: translate(-50%, -50%); 
    border-radius: 5px;
    padding-bottom: 30px;
    height: min-content;
}

.popup__back.active 
{ 
    opacity: 1; 
    pointer-events: all; 
    transition: all 0.5s;
}

.popup.active
{ 
    transform: translate(-50%, -50%) scale(1);
    transition: all 0.5s;
}

/*Тут они закончились*/

.form__again
{
    display: flex;
    flex-direction: row;
}

.again__email
{
    margin-top: 52px;
    margin-left: 59px;
}

.again__bottom
{
    margin-top: 52px;
    margin-left: 53px;
}

.welcome__image
{
    padding: 0px 60px;
}
